<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permissão para acessar a internet -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AMJProject"
        tools:targetApi="31">

        <!-- Menu Principal Activity -->
        <activity
            android:name=".ui.theme.MenuPrincipalActivity"
            android:exported="true" />

        <!-- Tela de Recuperação de Senha -->
        <activity
            android:name=".EsqueciSenhaActivity"
            android:exported="false" />

        <!-- Tela de Login (Principal) -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.AMJProject">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.theme.RegistroActivity">
        </activity>



        <activity android:name=".ui.theme.AdicionarEscopoActivity" />
        <activity android:name=".ui.theme.EscoposPendentesActivity" />
        <activity android:name=".EscoposConcluidosActivity" />
        <activity android:name=".ui.theme.PerfilActivity" />
        <activity android:name=".ui.theme.EditarPerfilActivity" />
        <activity android:name=".ui.theme.DetalhesEscopoActivity" />




    </application>
</manifest>
